<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Details employee</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<script type="application/javascript" src="/js/functions.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="text-center">
	<div class="container">
		<h1>Employee details</h1>
		
		<div style="padding: 50px;">
				<input th:value="${employee.id}" type="hidden" name="id" id="id"></input>
 				<input th:value="${employee.name}" type="text" name="name" id="name"></input>
				<input th:value="${employee.surname}" type="text" name="surname" id="surname"></input>
				<button onclick="updateEmployee()">UPDATE</button>
		</div>
		<div layout="column" style="padding: 50px;">
				
				<div layout="row">
					<a href="/index.html">
						<button id="btn-one" class="btn btn-sm btn-primary">HOME</button>
					</a>
				</div>
		</div>
		 
	</div>
</body>
</html>