<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
<title>Claims</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" />
<script type="application/javascript" src="/js/functions.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body class="text-center">
	
	<div class="container">
		<h1>Claims Stored</h1>
		<table>
			<tr th:each="claim : ${listclaims}">
				<td th:text="${claim.code}"></td>
				<td th:text="${claim.name}"></td>
				<td th:text="${claim.IdEmployee}"></td>
			</tr>
		</table>		
	</div>
		
    
</body>
</html>